body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;
}

.aluno{
    background-color: #3A3A3A;
    border-radius: 5px;
    color: #FFF;
    width:580px;
    text-align: center;
}

.aluno2{
    background-color: #3A3A3A;
    border-radius: 5px;
    color: #FFF;
    width:420px;
    text-align: center;
}

.aluno3{
    background-color: #3A3A3A;
    border-radius: 5px;
    color: #FFF;
    width:510px;
    text-align: center;
}

img:hover {
    opacity: 0.9;
  }

a {
    color: #000;
  }

a:hover {
    color: red;
}
#perfil {
    display:inline;
}
.enviar {
    background-color: black;
    color: white;
    border-radius: 7px;
    border: 1px;
    padding: 5px 12px;
    text-align: center;
}

.enviar:hover {
    color: red;
}

.bidi4 {
    border: 1px solid black;
    width: 450px;    
}

.ciel3 {
    background-color: lightgray;
    font-weight: bold;
}

ul {
    list-style-type: square;
}

.rodape {
    text-align: center;
    border: 1px solid gray;
    padding-bottom: 10px;
}